/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.bg-purple {
    background-color: #6c5ce7; /* Couleur fond */
}

main {
    padding-top: 100px;
}

/* Styles pour les cartes */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*Ombre*/
}